---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/index/Hero.astro";
import Trabajos from "../sections/trabajos.astro";
import Servicios from "../sections/servicios.astro";
import Estudio from "../sections/estudio.astro";
---

<Layout title="AlmTattoo - Home">
	<main>
		<Hero />
		<slot />
		<Trabajos />
		<slot />
		<Estudio />
		<slot />
		<Servicios />
		<slot />
	</main>
</Layout>
