.<button
    id="scrollToTopBtn"
    class="fixed opacity-0 backdrop-blur-2xl bottom-5 right-5 z-50 bg-opacity-50 text-black border-2 border-black border-opacity-50 font-bold p-4 rounded-full hover:scale-110 hover:bg-opacity-100 hover:border-opacity-75 transition-all duration-200"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
    </svg>
</button>
<script>
    const scrollToTopBtn = document.getElementById("scrollToTopBtn");

    window.addEventListener("scroll", () => {
        if (window.pageYOffset > 150) {
            // scrollToTopBtn.classList.remove("hidden");
            scrollToTopBtn.classList.add("opacity-100");
            scrollToTopBtn.classList.add("animate-fade-in-up");
            scrollToTopBtn.classList.remove("animate-fade-out-down");
        } else {
            // scrollToTopBtn.classList.add("hidden");
            scrollToTopBtn.classList.add("opacity-0");

            scrollToTopBtn.classList.add("animate-fade-out-down");
            scrollToTopBtn.classList.remove("animate-fade-in-up");
        }
    });

    scrollToTopBtn.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });
</script>
