---
interface Props {
    title: string;
    href: string;
}

const { title, href } = Astro.props;
---

<a
    href={href}
    class="inline-block px-4 py-2 text-white bg-otoño-darkGreen hover:scale-110 transition-transform duration-105 tracking-wider"
    role="button"
    target="_blank"
>
    {title}
</a>
