---
import GenericLinkButton from "./genericLinkButton.astro";
---

<section id="hero">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-0 h-auto lg:h-[75vh]">
        <div
            class="col-span-1 lg:col-span-3 p-4 h-64 lg:h-auto relative overflow-hidden order-2 lg:order-1"
        >
            <img
                class="absolute inset-0 w-full h-full object-cover object-center"
                src="https://img.freepik.com/premium-photo/cozy-home-autumn-living-room_874919-42.jpg"
                alt="Cozy home autumn living room"
            />
        </div>

        <div
            class="col-span-1 flex flex-col justify-center lg:px-16 items-center lg:items-end py-4 order-1 lg:order-2 bg-white"
        >
            <h2
                class="text-4xl handwritte font-extralight right-0 text-right pb-4"
            >
                ¡Destacado!
            </h2>
            <p
                class="uppercase font-extralight text-right text-5xl tracking-wider"
            >
                <span class="lg:block">Reserva</span>
                <span class="lg:block">tu cita</span>
            </p>
            <div class="pr-1 mt-10 block">
                <GenericLinkButton
                    title="Quiero mi tattoo"
                    href="https://ig.me/m/almtattoo"
                />
            </div>
        </div>
    </div>
</section>
