<section id="servicios">
    <div
        class="bg-almond w-full h-auto flex flex-col gap-y-3 lg:gap-y-0 lg:flex-row items-center justify-around mx-auto py-24 px-24"
    >
        <article
            class="flex flex-col justify-center items-center px-8 text-center"
        >
            <h2 class="uppercase font-medium tracking-widest pb-4">
                Blanco y negro
            </h2>
            <p class="text-sm font-light leading-[2] px-6">
                Each of our candles are made with all natural 100% soy wax that
                is grown mand manufactrured on the USA
            </p>
        </article>
        <article
            class="flex flex-col justify-center items-center px-8 text-center"
        >
            <h2 class="uppercase font-medium tracking-widest pb-4">
                La línea más fina
            </h2>
            <p class="text-sm font-light leading-[2] px-6">
                Each of our candles are made with all natural 100% soy wax that
                is grown mand manufactrured on the USA
            </p>
        </article>
        <article
            class="flex flex-col justify-center items-center px-8 text-center"
        >
            <h2 class="uppercase font-medium tracking-widest pb-4">
                Especialista en anime & manga
            </h2>
            <p class="text-sm font-light leading-[2] px-6">
                Each of our candles are made with all natural 100% soy wax that
                is grown mand manufactrured on the USA
            </p>
        </article>
    </div>
</section>
