<section id="servicios">
    <div
        class="bg-almond w-full h-auto flex flex-col gap-y-3 lg:gap-y-0 lg:flex-row items-center justify-around mx-auto py-24 px-24"
    >
        <article
            class="flex flex-col justify-center items-center px-8 text-center"
        >
            <img
                class="pb-10 mx-auto items-center justify-center"
                src="/img/icons/provisional.svg"
            />
            <h2 class="uppercase font-medium tracking-widest pb-4">
                Blanco & negro
            </h2>
            <p class="text-sm font-light leading-[2] px-12">
                Los tatuajes en blanco y negro garantizan durabilidad y
                contrastes y detalles únicos.
            </p>
        </article>
        <article
            class="flex flex-col justify-center items-center px-8 text-center"
        >
            <img
                class="pb-10 mx-auto items-center justify-center"
                src="/img/icons/provisional.svg"
            />
            <h2 class="uppercase font-medium tracking-widest pb-4">
                La línea más fina
            </h2>
            <p class="text-sm font-light leading-[2] px-12">
                La línea fina ofrece delicadeza y es perfecta para diseños
                sutiles y elegantes.
            </p>
        </article>
        <article
            class="flex flex-col justify-center items-center px-8 text-center"
        >
            <img
                class="pb-10 mx-auto items-center justify-center"
                src="/img/icons/provisional.svg"
            />
            <h2 class="uppercase font-medium tracking-widest pb-4">
                Especialista en anime & manga
            </h2>
            <p class="text-sm font-light leading-[2] px-12">
                Lleva contigo siempre ese panel que marcó en tí un antes y un
                después.
            </p>
        </article>
    </div>
</section>
