<section id="trabajos">
    <div class="w-full h-auto flex flex-col justify-center items-center my-20">
        <header class="mb-12 mx-auto flex flex-col justify-center items-center">
            <h2 class="handwritte text-4xl font-extralight pb-2">Top 5</h2>
            <p class="tracking-wider text-4xl uppercase font-extralight">
                Trabajos destacados
            </p>
        </header>
        <body class="flex flex-row items-center justify-center">
            <article class="flex flex-row gap-x-6">
                <img class="h-[500px] w-[375px]" src="/img/tattoos/1.jpg" />
                <div
                    class="h-[500px] w-[375px] border border-black border-opacity-20 flex flex-col py-6 px-8"
                >
                    <header>
                        <h4
                            class="tracking-wider text-xs uppercase font-extralight"
                        >
                            Bdz mason jar
                        </h4>
                        <h2
                            class="tracking-wider text-2xl font-extralight pt-3"
                        >
                            Firewood + Vanilla
                        </h2>
                        <p class="uppercase text-lg font-extralight">250€</p>
                    </header>
                </div>
            </article>
        </body>
    </div>
</section>
